.myImage {
  max-width: 200px;
  min-width: 200px;
  max-height: 500px;
  min-height: 50px;
  float: left;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
}

#about {
  text-align: left;
  padding-left: 25px;
  padding-top: 20px;
  line-height: 2rem;
}

.about {
  display: flex;
  margin-bottom: 75px;
}

.about p {
  font-size: 20px;
}

@media screen and (max-width: 575px) {
  .myImage {
    max-height: 250px;
    min-width: 150px;
    float: left;
    margin-right: 10px;
  }

  .about p {
    font-size: 13px;
  }

  #about {
    line-height: 1rem;
  }

  .about {
    margin-bottom: 100px;
  }
}