.footer img {
  width: 30px;
}

.linkedinlogo img {
  width: 50px;
}

.footer ul li {
  list-style: none;
  display: inline-block;
  width: 50px;
}

.footer {
  margin-bottom: 0%;
  text-align: center;
}