.footer img {
  width: 30px;
}

.linkedinlogo img {
  width: 50px;
}

.footer ul li {
  list-style: none;
  display: inline-block;
  width: 10%;
  margin-bottom: 0%;
}

.footer {
  margin-top: 30%;
  text-align: center;
  /* position: relative;
  float:inline-end; */
  /* padding-top: 50%; */
}