.footer img {
  width: 30px;
}

.linkedinlogo img {
  width: 50px;
}

.footer ul li {
  list-style: none;
  display: inline-block;
  width: 10%;
}

.footer {
  text-align: center;
  position: relative;
  bottom: 0;
}

@media screen and (max-width: 575px) {
  .footer ul li {
    margin-left: 0px;
    margin-right: 35px;
  }
}