.projects img {
  max-width: 35%;
  /* max-height: 50%; */
  border: 2px solid black;
}

.projects p {
  font-size: 18px;
}
/* .project1 {
  display: flex;
  font-size: 12px;
} */
/* .projectlist ul li {
  display: block;
} */

/* .projects {
 display: inline-block;
} */

